In [1]:
import tushare as ts

In [16]:
pro = ts.pro_api("baf51ad222163a131a10f5a8f51dd84a020ea713bebf2c3d4ad447fb")

In [9]:
data = pro.stock_basic(list_status='L', fields='ts_code, symbol, name, area, industry, list_date')

In [21]:
ts.set_token('baf51ad222163a131a10f5a8f51dd84a020ea713bebf2c3d4ad447fb')

In [18]:
df = pro.adj_factor(ts_code='000001.SZ', trade_date='')

In [22]:
df = ts.pro_bar(ts_code='000001.SZ', adj='qfq', start_date='20180101', end_date='20181011')

In [23]:
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20181011,10.05,10.16,9.70,9.86,10.45,-0.59,-5.6459,1995143.83,1994186.611
1,000001.SZ,20181010,10.54,10.66,10.38,10.45,10.56,-0.11,-1.0417,995200.08,1045666.180
2,000001.SZ,20181009,10.46,10.70,10.39,10.56,10.45,0.11,1.0526,1064084.26,1117946.550
3,000001.SZ,20181008,10.70,10.79,10.45,10.45,11.05,-0.60,-5.4299,1686358.52,1793455.283
4,000001.SZ,20180928,10.78,11.27,10.78,11.05,10.74,0.31,2.8864,2110242.67,2331358.288